.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  padding: 0.5rem;
  overflow: hidden;
  background: white;
  /* width: 100%; */
  justify-content: center;
  /* min-height: 15rem; */
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    max-width: 45rem;
    /* width: 80%; */
  }
}