.event-item__action {
    padding: 0;
}



.event-item__action button {
    padding: 11px 21px;
    cursor: pointer;
    margin: 0;
    width: 100%;
    border: none;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background-color: #A8D62E;
    border-radius: 14px;

    color: #0B0B0B;
}

.event-item__action a {
    text-decoration: none;
    text-align: center;
    padding: 11px 21px;
    cursor: pointer;
    margin: 0;
    width: 100%;
    border: none;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
    background-color: #A8D62E;
    color: #0B0B0B;
    border-radius: 14px;
    display: block;
}


.event-item__action button:hover,
.event-item__action a:hover {
    background-color: #A8D62E;
    color: #0B0B0B;
}



.event-item__action button i,
.event-item__action a i {
    margin-right: 0.5rem;
}


.event-card {
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--color-divider);
    border-radius: 12px;
    padding: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.event-header h3 {
    font-size: 16px;
    font-weight: bold;
    color: #FEFEFE;
    margin: 0;
}

.category {
    background: var(--color-bg-dark);
    color: var(--color-bg-light);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
}

.event-details {
    font-size: 12px;
    color: var(--color-text-muted);
    margin-bottom: 12px;
}

.event-details p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}


.event-details p i {
    font-size: 18px;
    margin-right: 0.5rem;
}


.event-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-item__action button,
.event-item__action a {
    background: #A8D62E;
    color: #0B0B0B;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
}

/* 
.event-item__action button:hover,
.event-item__action a:hover {
    background: #f8aba8;
} */

.bookmark-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #5a3ea7;
}

.bookmark-btn:hover {
    color: #4a2f97;
}





@media (max-width: 1024px) {
    .event-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 2rem;
    }

    .event-card {
        min-width: 20rem;
        width: 20rem;
        max-width: 20rem;
    }

}