.authentication-continer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 8rem;
    width: 560px;
    max-width: 35rem;
    /* text-align: center;
    display: flex;
    flex-direction: column; */
    padding: 0;
    overflow: visible;
}

.authentication-logo {
    margin: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-logo a {
    position: absolute;
    top: -30px;
}


.authentication__header {
    color: white;
    text-align: center;
    width: 100%;
}

.authentication__intro h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}


.authentication__intro span {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.authentication-intro {
    padding: 0 6rem 6rem 0;
}



.authentication-form {
    width: 560px;
    max-width: 35rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.authentication__form {
    width: 100%;
}



.authentication__header img {
    width: 200px;
    height: 200px;
}


/* 
@media (max-width: 1240px) {
    .authentication-intro {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .authentication-intro h2 {
        display: none;
    }

    .authentication-intro span {
        display: none;
    }

    .authentication-continer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logo {
        padding-bottom: 10px;
        margin-bottom: 26px;
        border-bottom: none;
    }
}


@media (max-width: 600px) {
    .authentication-form {
        width: 400px;
    }
} */

@media (max-width: 600px) {
    .authentication-continer {
        margin-top: 5rem;
        width: 440px;
    }
}